<div class="fluid-container">
  <div class="row">
    <h1><b>Awesome Quote Generator</b></h1>
  </div>
  <div class="row">
  <div class="col-sm-offset-3 col-sm-5 col-md-offset-3 col-md-6">
    <div class="quote-box">
      <p class="quote">Click 'New quote' to generate a new quote</p>
      <p class="author"></p>
      <button class="btn share"><a class="twitter-share-button"
  href="https://twitter.com/intent/tweet">
<i class="fa fa-twitter fa-2x"></i></a></button>
      <button class="btn new-quote"><b>New quote</b></button>
    </div>
    </div>
  </div>
  <div class="row">
  <div class="col-sm-12">
    <div class="made">
      <p>made by <a href="https://github.com/adam-szczombrowski">Adam Szczombrowski</a></p></div>
    </div>
  </div>
</div>
